<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061177598141-vnsup5unfmt4bc8sbgr7kria66velvfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061177598141-vnsup5unfmt4bc8sbgr7kria66velvfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061177598141-3fial2i86sekoajuqe7u1j9ec49ej0to.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQRA-yH7vL3KS30hsAjmWH54WwpIGGmvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1061177598141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-5d06a</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-5d06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061177598141:ios:64fca0b76c346a51fd17d4</string>
</dict>
</plist>